$break-small: 480px;
$break-medium: 960px;
$break-large: 1260px;

@mixin respond-to($media) {
  @if $media == s {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == m {
    @media only screen and (max-width: $break-medium) { @content; }
  }
  @else if $media == l {
    @media only screen and (max-width: $break-large) { @content; }
  }
}
